In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split

In [17]:
df = pd.read_csv("Pima_Indian_diabetes.csv")

In [18]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,742.000000,752.000000,768.000000,746.000000,768.000000,757.000000,768.000000,749.000000,768.000000
mean,3.866601,119.966097,68.886078,20.309879,79.799479,31.711151,0.471876,33.761336,0.348958
std,3.479971,32.367659,19.427448,15.974523,115.244002,8.544789,0.331329,12.297409,0.476951
min,-5.412815,0.000000,-3.496455,-11.945520,0.000000,-16.288921,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.100000,0.243750,24.000000,0.000000
50%,3.000000,116.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.250000,36.500000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
df = df.dropna(axis=0)

zero_insulin_data = df[ df.Insulin == 0 ]
non_zero_insulin_data = df[ df.Insulin != 0]

train_X = non_zero_insulin_data['Glucose'].values.reshape(-1,1)
train_y = non_zero_insulin_data['Insulin'].values.reshape(-1,1)
val_X = zero_insulin_data['Glucose'].values.reshape(-1,1)

model = LinearRegression()
model.fit(train_X, train_y)
predicted_y = model.predict(val_X)

j = 0
for i in df.index:
    if df.at[i, 'Insulin'] == 0:
        df.at[i, 'Insulin'] = predicted_y[j][0]
        j+=1

In [20]:
features = ['Pregnancies','Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']

In [21]:
for feature in features:
    df[feature].fillna(value=df[feature].mean(), inplace=True)

In [22]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,3.816722,119.905014,68.605819,20.111729,151.735595,31.703168,0.469499,33.423353,0.346154
std,3.409403,32.409446,19.449625,15.923286,100.514227,8.471361,0.337760,11.819330,0.476095
min,-4.798118,0.000000,-3.496455,-11.945520,-118.511343,-16.288921,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,88.631580,27.100000,0.239750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,133.918943,32.000000,0.364000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,190.264989,36.500000,0.612250,41.000000,1.000000
max,16.047327,199.000000,110.000000,99.000000,846.000000,67.100000,2.420000,72.000000,1.000000

In [23]:
for feature in features:
    df.loc[df[feature] < 0, feature] = 0

In [24]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,3.830401,119.905014,68.616397,20.165922,152.465458,31.758667,0.469499,33.423353,0.346154
std,3.384647,32.409446,19.411372,15.839274,98.979656,8.218633,0.337760,11.819330,0.476095
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,88.631580,27.100000,0.239750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,133.918943,32.000000,0.364000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,190.264989,36.500000,0.612250,41.000000,1.000000
max,16.047327,199.000000,110.000000,99.000000,846.000000,67.100000,2.420000,72.000000,1.000000

In [25]:
df.loc[df.Insulin >250, 'Insulin'] = 250

In [26]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,3.830401,119.905014,68.616397,20.165922,140.351976,31.758667,0.469499,33.423353,0.346154
std,3.384647,32.409446,19.411372,15.839274,66.364646,8.218633,0.337760,11.819330,0.476095
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,88.631580,27.100000,0.239750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,133.918943,32.000000,0.364000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,190.264989,36.500000,0.612250,41.000000,1.000000
max,16.047327,199.000000,110.000000,99.000000,250.000000,67.100000,2.420000,72.000000,1.000000

In [27]:
X = df[df.columns[0:8]]
y = df[df.columns[8]]

In [28]:
trainX, valX, trainY, valY = train_test_split(X, y, random_state=0, test_size = 0.20)

In [29]:
lr = LogisticRegression(max_iter=1000)

In [30]:
lr.fit(trainX, trainY)
print(lr.score(valX, valY))

0.7058823529411765

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)