In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
%matplotlib inline
from pandas.plotting import scatter_matrix
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Pima_Indian_diabetes.csv")

In [3]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,742.000000,752.000000,768.000000,746.000000,768.000000,757.000000,768.000000,749.000000,768.000000
mean,3.866601,119.966097,68.886078,20.309879,79.799479,31.711151,0.471876,33.761336,0.348958
std,3.479971,32.367659,19.427448,15.974523,115.244002,8.544789,0.331329,12.297409,0.476951
min,-5.412815,0.000000,-3.496455,-11.945520,0.000000,-16.288921,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.100000,0.243750,24.000000,0.000000
50%,3.000000,116.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.250000,36.500000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
features = ['Pregnancies','Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']

In [5]:
for feature in features:
    df[feature].fillna(value=df[feature].mean(), inplace=True)

In [6]:
zero_insulin_data = df[ df.Insulin == 0 ]
non_zero_insulin_data = df[ df.Insulin != 0]

train_X = non_zero_insulin_data['Glucose'].values.reshape(-1,1)
train_y = non_zero_insulin_data['Insulin'].values.reshape(-1,1)
val_X = zero_insulin_data['Glucose'].values.reshape(-1,1)

model = LinearRegression()
model.fit(train_X, train_y)
predicted_y = model.predict(val_X)

j = 0
for i in df.index:
    if df.at[i, 'Insulin'] == 0:
        df.at[i, 'Insulin'] = predicted_y[j][0]
        j+=1

In [7]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.866601,119.966097,68.886078,20.309879,152.778203,31.711151,0.471876,33.761336,0.348958
std,3.420480,32.028277,19.427448,15.743756,98.668180,8.483295,0.331329,12.144139,0.476951
min,-5.412815,0.000000,-3.496455,-11.945520,-109.896240,-16.288921,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,90.000000,27.275000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,135.000000,32.000000,0.372500,30.000000,0.000000
75%,6.000000,139.000000,80.000000,32.000000,190.075164,36.425000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
for feature in features:
    df.loc[df[feature] < 0, feature] = 0

In [9]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.885689,119.966097,68.895389,20.357580,153.368229,31.760002,0.471876,33.761336,0.348958
std,3.384891,32.028277,19.393614,15.668404,97.423387,8.261584,0.331329,12.144139,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,90.000000,27.275000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,135.000000,32.000000,0.372500,30.000000,0.000000
75%,6.000000,139.000000,80.000000,32.000000,190.075164,36.425000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
df.loc[df.Insulin >250, 'Insulin'] = 250

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.885689,119.966097,68.895389,20.357580,141.520366,31.760002,0.471876,33.761336,0.348958
std,3.384891,32.028277,19.393614,15.668404,65.819238,8.261584,0.331329,12.144139,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,90.000000,27.275000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,22.000000,135.000000,32.000000,0.372500,30.000000,0.000000
75%,6.000000,139.000000,80.000000,32.000000,190.075164,36.425000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,250.000000,67.100000,2.420000,81.000000,1.000000

In [60]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

features = ['Pregnancies','Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
x = df.loc[:, features].values
y = df.loc[:,['Outcome']].values
x = StandardScaler().fit_transform(x)

pca = PCA(n_components=7)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4', 'principal component 5', 'principal component 6', 'principal component 7'])

finalDf = pd.concat([principalDf, df[['Outcome']]], axis = 1)
finalDf.describe()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,Outcome
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,768.000000
mean,-3.353799e-17,-2.891206e-17,1.080588e-17,-4.611473e-17,-3.632077e-17,6.216092e-18,-1.358867e-17,0.348958
std,1.487277e+00,1.262358e+00,1.119176e+00,9.680770e-01,8.439333e-01,7.703274e-01,7.006750e-01,0.476951
min,-3.861562e+00,-4.278753e+00,-3.514774e+00,-2.060794e+00,-2.536200e+00,-2.927396e+00,-1.986187e+00,0.000000
25%,-1.104121e+00,-8.448993e-01,-6.323448e-01,-6.704814e-01,-5.419298e-01,-4.498802e-01,-4.044632e-01,0.000000
50%,8.437254e-02,8.937985e-02,-3.147721e-02,-1.784124e-01,-3.326475e-02,5.845989e-02,-6.118857e-02,0.000000
75%,1.037501e+00,8.668579e-01,6.400201e-01,4.651369e-01,4.951299e-01,4.828804e-01,3.234660e-01,1.000000
max,4.725812e+00,5.501140e+00,3.679761e+00,4.887152e+00,4.155136e+00,3.548890e+00,3.351698e+00,1.000000

In [61]:
X = finalDf[finalDf.columns[0:7]]
y = finalDf[finalDf.columns[7]]

In [62]:
trainX, valX, trainY, valY = train_test_split(X, y, random_state=0, test_size = 0.20)

In [63]:
lr = LogisticRegression(max_iter=2000)

In [64]:
lr.fit(trainX, trainY)
print(lr.score(valX, valY))

0.7922077922077922

/home/sarthak/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)